<!DOCTYPE html>
<html lang="{{ .Language.Lang }}" dir="ltr" class="dark-theme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ .Site.Params.description }}">
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <!-- reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    
    <!-- CSS файлы -->
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
</head>

<body>
    {{ partial "header.html" . }}
    
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
    
    <!-- JavaScript файлы -->
    <script src="{{ "js/main.js" | relURL }}"></script>
    
    <!-- Қоллаў түймеси -->
    <button class="donate-btn pulse" onclick="showDonateSection()" data-lang-key="donate-btn">Қоллаў</button>
    
    <!-- Жоқары көтериў түймеси -->
    <button class="scroll-top-btn" onclick="scrollToTop()" title="Жоқары көтериў">↑</button>
</body>
</html>
