<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }} | {{ .Site.Params.slogan }}</title>
</head>
<body>
    <header>
        <h1>{{ .Site.Title }}</h1>
        <p>{{ .Site.Params.slogan }}</p>
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        <p>Байланыс: <a href="mailto:{{ .Site.Params.contact_email }}">{{ .Site.Params.contact_email }}</a></p>
    </footer>
</body>
</html>
