@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-matrix-bg text-matrix-text antialiased; /* Қап-қара фон */
  }
  
  /* Барлық тақырыптар Matrix сияқты Serif шрифтімен болады */
  h1, h2, h3, h4 {
    @apply font-serif font-bold tracking-tight;
  }
}

/* Скроллбар (жіңішке) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #080808;
}
::-webkit-scrollbar-thumb {
  background: #333;
}