{{ define "main" }}
  <section class="hero">
    <div class="container">
      <h2>{{ .Site.Params.description }}</h2>
      <a href="{{ "/news/" | relLangURL }}" class="btn">Соңғы жаңалықлар</a>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <div class="feature">
        <h3>Ғәрезсиз мәлимет</h3>
        <p>Биз тек халықтың мәпи ушын ислеймиз.</p>
      </div>
      <div class="feature">
        <h3>Көп тиллилик</h3>
        <p>Қарақалпақ, рус, англичан тиллеринде</p>
      </div>
      <div class="feature">
        <h3>Ашық платформа</h3>
        <p>Ҳәр ким өз пикирин билдириўи мүмкин.</p>
      </div>
    </div>
  </section>
{{ end }}
